/* Global Styles */

html {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h1, h2 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

.flex {
  display: flex;
}

.container {
  width: 960px;
}

/* Logo Banner */

.logo-banner {
  background-color: black;
  align-items: center;
  justify-content: center;
}

.logo-banner-inner {
  align-items: center;
}

.logo-banner-inner h3 {
  margin: 0.66rem 0 0.66rem 1rem;
}

.logo-banner-inner img {
  height: 1.5rem;
  width: auto;
  margin-left: 0.5rem;
}

/* Image Header */

.image-header {
  height: 25rem;
  justify-content: center;
  background-image: url("../img/moto.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-header-text {
  background-color: black;
  width: 20rem;
  padding: 2rem 3rem;
  margin-top: 9rem;
}

.image-header-text h1 {
  margin-top: 0.25rem;
}

/* Navigation */

.nav-banner {
  background-color: firebrick;
  justify-content: center;
  align-items: center;
}

.nav-banner-inner {
  justify-content: space-between;
}

.nav-item {
  margin: 0.75rem 0;
}

.nav-item a {
  color: white;
  text-decoration: none;
}

.nav-condensed {
  display: none;
}

/* Product Showcase */

.product-showcase {
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.product-showcase-inner {
  justify-content: space-between;
}

.product-showcase-item {
  width: 30%;
  border: 4px solid black;
  text-align: center;
}

.product-image {
  height: 9rem;
  padding: 2rem 0;
  align-items: center;
  justify-content: center;
}

.product-image img {
  max-width: 8em;
}

.product-name {
  background-color: black;
  padding: 0.5rem 0;
}

/* Store Info */

.store-info {
  align-items: center;
  justify-content: center;
  padding-bottom: 4rem;
}

.store-info-inner {
  align-items: center;
  justify-content: space-between;
}

.store-info-item {
  width: 35%;
}

.store-info-item-header{
  padding: 1rem 2rem;
  background-color: black
}

.store-info-item p {
  color: black;
  margin-top: 0.5rem;
}

/* Footer */

.footer {
  height: 5rem;
  justify-content: center;
  align-items: center;
  background-color: black;
}
