/* Global Styles */

html {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h1, h2 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

.flex {
  display: flex;
}

.container {
  width: 960px;
}

/* Logo Banner */

.logo-banner {
  background-color: black;
  align-items: center;
  justify-content: center;
}

.logo-banner-inner {
  align-items: center;
}

.logo-banner-inner h3 {
  margin: 0.66rem 0 0.66rem 1rem;
}

.logo-banner-inner img {
  height: 1.5rem;
  width: auto;
  margin-left: 0.5rem;
}

/* Image Header */

.image-header {
  height: 25rem;
  justify-content: center;
  background-image: url("../img/moto.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-header-text {
  background-color: black;
  width: 20rem;
  padding: 2rem 3rem;
  margin-top: 9rem;
}

.image-header-text h1 {
  margin-top: 0.25rem;
}
